@page
@model ContosoUniversity.Pages.Stages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stage.TitreDeStage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stage.TitreDeStage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stage.Instructor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stage.Instructor.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stage.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stage.Student.FirstMidName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stage?.StageID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
